<footer class="footer">
  <div class="columns">
    <div class="column">
      <aside class="menu">
        <p class="menu-label">
          ActualRecs
        </p>
        <ul class="menu-list">
          <li>
            <a href="/">
              {% include icon.html icon_text="Home" icon_name="home" %}
            </a>
          </li>

          <li>
            <a href="/about/">
              {% include icon.html icon_text="About" icon_name="caret-forward-circle" %}
            </a>
          </li>

          <li>
            <a href="/resources/">
              {% include icon.html icon_text="Resources" icon_name="barbell-outline" %}
            </a>
          </li>
          
          <li>
            <a href="/faq/">
              {% include icon.html icon_text="FAQ" icon_name="help-circle" %}
            </a>
          </li>
          
          <li>

            <a href="/contact/">
              {% include icon.html icon_text="Contact" icon_name="chatbox" %}
            </a>
          </li>
        </ul>
      </aside>
    </div>

    <div class="column">
      <aside class="menu">
        <p class="menu-label">Connect</p>
        <p>
          {% include social.html social_site="Twitter" username=site.twitter_username %}
          {% include social.html social_site="Facebook" username=site.facebook_username %}
          {% include social.html social_site="Reddit" username=site.reddit_username %}
          {% include social.html social_site="Instagram" username=site.instagram_username %}
          {% include social.html social_site="TikTok" username=site.tiktok_username %}
        </p>
        <p class="rss-subscribe">
          subscribe
          <a href="{{ "/feed.xml" | relative_url }}">
            via RSS
            <span class="icon-text">
              <span class="icon">
                <ion-icon name="logo-rss">RSS</ion-icon>
              </span>
            </span>
          </a>
        </p>
      </aside>
    </div>
  </div>

  <div class="block">
    <p>{{- site.description | escape -}}</p>
  </div>

  <data class="u-url" href="{{ "/" | relative_url }}"></data>

</footer>
