<header class="mb-4" role="banner">
  <div class="columns is-mobile">
    <div class="column p-0 mt-5 has-text-left">
      <figure class="image is-1x1 is-inline-block is-vcentered imac">
        <img src="/assets/images/imac.png">
      </figure>
    </div>
    <div class="column p-0 pr-5 has-text-right">
      <figure class="image is-1x1 is-inline-block dude">
        <img src="/assets/images/avatar-no-gradient.png">
      </figure>
    </div>
  </div>
  
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/assets/images/logo.png" >
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="/" class="navbar-item">
          {% include icon.html icon_text="Home" icon_name="home-outline" %}
        </a>

        <a href="/about/" class="navbar-item">
          {% include icon.html icon_text="About" icon_name="caret-forward-circle-outline" %}
        </a>

        <a href="/resources/" class="navbar-item">
          {% include icon.html icon_text="Resources" icon_name="barbell-outline" %}
        </a>

        <a href="/faq/" class="navbar-item">
          {% include icon.html icon_text="FAQ" icon_name="help-circle-outline" %}
        </a>

        <a href="/contact/" class="navbar-item">
          {% include icon.html icon_text="Contact" icon_name="chatbox-outline" %}
        </a>
      </div>

      <div class="navbar-end mr-5">
        {% include social.html social_site="Twitter" username=site.twitter_username navbar_item=true %}
        {% include social.html social_site="Facebook" username=site.facebook_username navbar_item=true %}
        {% include social.html social_site="Reddit" username=site.reddit_username navbar_item=true %}
        {% include social.html social_site="Instagram" username=site.instagram_username navbar_item=true %}
        {% include social.html social_site="TikTok" username=site.tiktok_username navbar_item=true %}
      </div>
    </div>
  </nav>

</header>
