<header class="site-header mb-2" role="banner">
  <div class="columns is-mobile">
    <div class="column p-0 mt-5 has-text-left">
      <figure class="image is-1x1 is-inline-block is-vcentered imac">
        <img src="/assets/images/imac.png">
      </figure>
    </div>
    <div class="column p-0 pr-5 has-text-right">
      <figure class="image is-1x1 is-inline-block dude">
        <img src="/assets/images/avatar-no-gradient.png">
      </figure>
    </div>
  </div>
  
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/assets/images/logo.png" >
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="/" class="navbar-item">
          <span class="icon-text">
            <span class="icon">
              <ion-icon name="home-outline"></ion-icon>
            </span>
            <span>Home</span>
          </span>
        </a>

        <a href="/about/" class="navbar-item">
          <span class="icon-text">
            <span class="icon">
              <ion-icon name="caret-forward-circle-outline"></ion-icon>
            </span>
            <span>About</span>
          </span>
        </a>

        <a href="/resources/" class="navbar-item">
          <span class="icon-text">
            <span class="icon">
              <ion-icon name="barbell-outline"></ion-icon>
            </span>
            <span>Resources</span>
          </span>
        </a>

        <a href="/faq/" class="navbar-item">
          <span class="icon-text">
            <span class="icon">
              <ion-icon name="help-circle-outline"></ion-icon>
            </span>
            <span>FAQ</span>
          </span>
        </a>

        <a href="/contact/" class="navbar-item">
          <span class="icon-text">
            <span class="icon">
              <ion-icon name="chatbox-outline"></ion-icon>
            </span>
            <span>Contact</span>
          </span>
        </a>
      </div>

      <div class="navbar-end mr-5">
        <a href="/" class="navbar-item">
          <span class="icon-text">
            <span class="icon">
              <ion-icon name="logo-twitter">Twitter</ion-icon>
            </span>
          </span>
        </a>
        
        <a href="/" class="navbar-item">
          <span class="icon-text">
            <span class="icon">
              <ion-icon name="logo-facebook">Facebook</ion-icon>
            </span>
          </span>
        </a>

        <a href="/" class="navbar-item">
          <span class="icon-text">
            <span class="icon">
              <ion-icon name="logo-instagram">Instagram</ion-icon>
            </span>
          </span>
        </a>

        <a href="/" class="navbar-item">
          <span class="icon-text">
            <span class="icon">
              <ion-icon name="logo-tiktok">TikTok</ion-icon>
            </span>
          </span>
        </a>

      </div>
    </div>
  </nav>

</header>
