<header class="site-header mb-2" role="banner">
  <div class="columns is-mobile">
    <div class="column p-0 mt-5 has-text-left">
      <figure  style="width: 150px; height: 150px" class="image is-1x1 is-inline-block is-vcentered">
        <img src="/assets/images/imac.png">
      </figure>
    </div>
    <div class="column p-0 pr-5 has-text-right">
      <figure style="width: 200px; height: 200px" class="image is-1x1 is-inline-block">
        <img src="/assets/images/avatar-no-gradient.png">
      </figure>
    </div>
  </div>
  
  <nav class="navbar" role="navigation" aria-label="main navigation" style="border-top: 1px solid #000;">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/assets/images/logo.png" >
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <a href="/" class="navbar-item">
        <span class="icon-text">
          <span class="icon">
            <ion-icon name="home-outline"></ion-icon>
          </span>
          <span>Home</span>
        </span>
      </a>

      <div class="navbar-start">
        <a href="/resources" class="navbar-item">
          <span class="icon-text">
            <span class="icon">
              <ion-icon name="barbell-outline"></ion-icon>
            </span>
            <span>Resources</span>
          </span>
        </a>

        <a href="/about" class="navbar-item">
          <span class="icon-text">
            <span class="icon">
              <ion-icon name="caret-forward-circle-outline"></ion-icon>
            </span>
            <span>About</span>
          </span>
        </a>

        <a href="/faq" class="navbar-item">
          <span class="icon-text">
            <span class="icon">
              <ion-icon name="help-circle-outline"></ion-icon>
            </span>
            <span>FAQ</span>
          </span>
        </a>

        <a href="/contact" class="navbar-item">
          <span class="icon-text">
            <span class="icon">
              <ion-icon name="chatbox-outline"></ion-icon>
            </span>
            <span>Contact</span>
          </span>
        </a>
        

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <span class="icon-text">
              <span class="icon">
                <ion-icon name="book-outline"></ion-icon>
              </span>
              <span>Topics</span>
            </span>
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">Current Affairs</a>
            <a class="navbar-item">History</a>
            <a class="navbar-item">Economics</a>
            <a class="navbar-item">STEM</a>
            <a class="navbar-item">Animals</a>
            <hr class="navbar-divider">
            <a class="navbar-item">Film</a>
            <a class="navbar-item">Music</a>
            <a class="navbar-item">Recipes</a>
            <hr class="navbar-divider">
            <a class="navbar-item">Weekly Recap</a>
            <a class="navbar-item">Top Posts</a>
          </div>
        </div>
      </div>

      <div class="navbar-end mr-5">
        <a href="/" class="navbar-item">
          <span class="icon-text">
            <span class="icon">
              <ion-icon name="logo-twitter">Twitter</ion-icon>
            </span>
          </span>
        </a>
        
        <a href="/" class="navbar-item">
          <span class="icon-text">
            <span class="icon">
              <ion-icon name="logo-facebook">Facebook</ion-icon>
            </span>
          </span>
        </a>

        <a href="/" class="navbar-item">
          <span class="icon-text">
            <span class="icon">
              <ion-icon name="logo-instagram">Instagram</ion-icon>
            </span>
          </span>
        </a>

        <a href="/" class="navbar-item">
          <span class="icon-text">
            <span class="icon">
              <ion-icon name="logo-tiktok">TikTok</ion-icon>
            </span>
          </span>
        </a>

      </div>
    </div>
  </nav>

</header>
