---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

$family-sans-serif: "Jost", sans-serif;
$vivid_sky_blue: #57C4E5;
$bitter_lime: #BAFF29;
$space_cadet: #1A1B41;
$carrot_orange: #ED9112;

$primary: $carrot_orange;
$navbar-item-hover-background-color: $bitter_lime;
$navbar-item-hover-color: $space_cadet;
$link: $vivid_sky_blue;

$body-size: 1.15rem;

// @import "bulma/sass/utilities/_all.sass";
// @import "bulma/sass/base/_all.sass";
// @import "bulma/sass/elements/_all.sass";
// @import "bulma/sass/components/navbar.sass";
// @import "bulma/sass/components/menu.sass";
// @import "bulma/sass/grid/columns.sass";
// @import "bulma/sass/layout/_all.sass";
// @import "bulma/sass/helpers/spacing.sass";

@import "bulma/bulma.sass";

header {
  background-color: $vivid_sky_blue;
  background-image:
    url("/assets/images/bg.png"),
    linear-gradient(
      to right,
      $vivid_sky_blue,
      white 50%
    );
  background-position: 14% 0%;
  background-repeat: repeat-x;

}

h2.post-link a:link, h2.post-link a:visited, h2.post-link a:active h2.post-link a:hover {
  color: $grey-darker;
}