<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <section class="section">
      <main class="content is-widescreen container" aria-label="Content">
        <div class="columns">
          <div class="column is-four-fifths">
            {{ content }}
          </div>
          <div class="column">
            <article class="message is-primary">
              <div class="message-header">
                <p>Recent Posts</p>
              </div>
              <div class="message-body">
                <p>Every Frame a Painting</p>
                <p>Kewl Stuff</p>
                <p>Etc</p>
              </div>
            </article>

            <article class="message is-info">
              <div class="message-header">
                <p>Actual Recs</p>
              </div>
              <div class="message-body">
                <p>Tired of your <strong>YouTube recommendations</strong>? Maybe you have hit <strong>ignore</strong> one too many times and it has done nothing.</p>
                <p>You watched ONE video about how to fix your thermostat, and now everything on youtube is about thermostats.</p>
                <p>Well, that's what happened to me at least. I've been searching high and low for the best long-form content, and now I am here to give you <strong>Actual Recs</strong>!</p>
                <p>I try to post daily. - AR</p>
              </div>
            </article>
          </div>
        </div>
      </main>
    </section>

    {%- include footer.html -%}

  </body>

</html>
