<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="content is-widescreen container" aria-label="Content">
      <div class="columns">
        <div class="column is-two-thirds">
          {{ content }}
        </div>
        <div class="column">
          <article class="message is-info">
            <div class="message-header">Topics</div>
              <a href="/topics/current-affairs/" class="navbar-item">Current Affairs</a>
              <a href="/topics/history/" class="navbar-item">History</a>
              <a href="/topics/economics/" class="navbar-item">Economics</a>
              <a href="/topics/stem/" class="navbar-item">STEM</a>
              <a  href="/topics/film/" class="navbar-item">Film</a>
              <a  href="/topics/music/" class="navbar-item">Music</a>
              <a  href="/topics/cooking/" class="navbar-item">Cooking</a>
              <a  href="/topics/fun/" class="navbar-item">Fun</a>
          </article>

          {% include mailing-list.html %}

          <article class="message is-primary">
            <div class="message-header">Recent Posts</div>
            <div class="message-body">
              {%- for post in site.posts limit:5 -%}
                <p><a class="sidebar-link" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a></p>
              {%- endfor -%}
            </div>
          </article>

        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
