---
layout: default
---

<blockquote>Daily posts! Mostly long-form(ish) video content 📺</blockquote>

{{ content }}

{%- for post in paginator.posts -%}
  {% include article.html post=post %}
{%- endfor -%}

{%- if paginator.total_pages > 1 -%}
<nav class="pagination" role="navigation" aria-label="pagination">
  <ul>
    {%- if paginator.previous_page -%}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="pagination-previous">Previous</a>
    {%- endif -%}
    {%- if paginator.next_page -%}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="pagination-next">Next</a>
    {%- endif -%}
  </ul>
</nav>
{%- endif -%}
