---
layout: default
---

<article itemscope itemtype="http://schema.org/BlogPosting">
  <h1 itemprop="name headline">{{ page.title | escape }}</h1>
  <div>

    <figure class="image ml-0 mt-1 is-2x1">
      <img src="{{ page.image }}">
    </figure>

    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {{ page.date | date: site.date_format }}
    </time>
    {%- for category in page.categories -%}
      <a href="/topics/{{ category | slugize }}/">
        <span class="tag is-primary is-light ml-2">{{ category | upcase }}</span>
      </a>
    {%- endfor -%}
    {%- if page.author -%}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
    {%- endif -%}
  </div>

  <div class="block" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
